body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* styles.css or a similar CSS file */
.recipe-card {
  cursor: pointer; /* Indicate clickable cards */
  transition: transform 0.2s; /* Smooth hover effect */
}

.recipe-card:hover {
  transform: scale(1.05); /* Scale up on hover */
}
